<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
>

  <servlet>
    <servlet-name>ReShopServlet</servlet-name>
    <servlet-class>com.epam.igor.electronicsshop.web.servlet.ReShopServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ReShopServlet</servlet-name>
    <url-pattern>/do/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.epam.igor.electronicsshop.web.servlet.ImageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/img/*</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>com.epam.igor.electronicsshop.web.listener.AppContextListener</listener-class>
  </listener>

  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>com.epam.igor.electronicsshop.web.filter.LocaleFilter</filter-class>
    <init-param>
      <param-name>active</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <servlet-name>ReShopServlet</servlet-name>
  </filter-mapping>

  <filter>

    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.epam.igor.electronicsshop.web.filter.EncodingFilter</filter-class>

    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>

  </filter>

  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/do/*</url-pattern>
  </filter-mapping>

  <filter>

    <filter-name>FlashScopeFilter</filter-name>
    <filter-class>com.epam.igor.electronicsshop.web.filter.FlashScopeFilter</filter-class>

    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>

  </filter>

  <filter-mapping>
    <filter-name>FlashScopeFilter</filter-name>
    <url-pattern>/do/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>com.epam.igor.electronicsshop.web.filter.SecurityFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/do/*</url-pattern>
  </filter-mapping>

</web-app>
